<a href="https://colab.research.google.com/github/timadolmatov/Computer_vision/blob/main/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Задание №1**. Предположим, что у вас в базе есть табличка с балансом по всем счетам клиента на конец дня. Из-за особенностей построения таблицы, часть значений незаполнена и физически это означает отсутствие информации об изменении баланса. Для простоты будем считать, пропущенные значения для одного пользователя не могут встретиться между двумя заполненными. Напишите SQL запрос для заполнения неизвестных значений по каждому клиенту последним известным.

client_id |date | value
--- | --- | ---
1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | NaN
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | NaN
3 | 18.04.2020 | NaN

In [ ]:
With 
A ( 
Select 
Client_id, 
Max(date)
From table
Group by client_id ) 
Select 
Client_id, 
Date, 
Case when b.Value is null then a.value else b.value end as value 
From table b 
Left Join a on b.client_id=a.client_id

# <YOUR_CODE_HERE>

### **Задание №1.1 (*)**. В прошлом задании мы считали, что пропущенные значения не могут находиться между двумя заполненными в рамках одного пользователя, что не всегда правда в реальных задачах. Напишите теперь SQL запрос без указанного допущения.

client_id |date | value
--- | --- | ---
1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | 7000
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | 49000
3 | 18.04.2020 | NaN

In [ ]:

Select 
Client_id, 
Date, 
Case when value is null then value_prev else value end as value 
From ( 
Select 
Client_id, 
Date, 
Value, 
Lag(value) over(order by client_id,date) as value_prev
From table
Order by client_id, date desc 
)

# <YOUR_CODE_HERE>

### **Задание №2**. Пусть клиенты обладают рядом статусов, закодированных цифрами: 0 - "улица", 1 - "зарплатник", 2 - "премиум", 3 - "пенсионер", 4 - "студент". У нас есть матрица с логами смен статусов за некоторый период, разверните ее в матрицу статус - статус с частотами перехода между ними.

Пример, как было:

client_id | prev_segment | new_segment|
--- | --- | ---
1 | 0 | 1
2 | 0 | 2
3 | 4 | 3

Пример, как нужно:

segment |0 | 1 | 2 | 3 | 4 
--- | --- | --- | --- | --- | ---
0 | 0 | 0.5 | 0.5 | 0 | 0 
1 | 0 |0 | 0 | 0 | 0
2 | 0 | 0 | 0 | 0 | 0
3 | 0 | 0 | 0 | 0 | 0
4 | 0 | 0 | 0 | 1 | 0

В процессе выполнения задания разрешается пользоваться библиотеками numpy и pandas.

In [54]:
import numpy as np
import pandas as pd

# Сгенерируем данные для задачи
data = pd.DataFrame(
    np.random.randint(low=0, high=5, size=(500000, 2)),
    columns=['prev_segment', 'new_segment']
)

data_1 = pd.DataFrame(columns={0,1,2,3,4}, index={0,1,2,3,4})
display(data_1)

for j in range(5):
  for i in range(5):
      data_1[i][j] = data[data['prev_segment']==j][data['new_segment']==i].value_counts().sum()/data[data['prev_segment']==j].value_counts().sum()
#ПРОВЕРКА
display(data_1)

print(data_1[0][0]+data_1[1][0]+data_1[2][0]+data_1[3][0]+data_1[4][0])
print(data_1[0][1]+data_1[1][1]+data_1[2][1]+data_1[3][1]+data_1[4][1])
print(data_1[0][2]+data_1[1][2]+data_1[2][2]+data_1[3][2]+data_1[4][2])
print(data_1[0][3]+data_1[1][3]+data_1[2][3]+data_1[3][3]+data_1[4][3])
print(data_1[0][4]+data_1[1][4]+data_1[2][4]+data_1[3][4]+data_1[4][4])# <YOUR_CODE_HERE>

     0    1    2    3    4
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

          0         1         2         3         4
0  0.199978  0.200028  0.199559  0.198991  0.201444
1  0.201676  0.199832    0.1993  0.197015  0.202177
2  0.200608   0.20151  0.199154   0.20139  0.197339
3  0.200224  0.199455  0.200903  0.200164  0.199255
4  0.197682   0.20006   0.20053  0.203217  0.198511

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       5 non-null      object
dtypes: object(5)
memory usage: 400.0+ bytes

Проверка:
1.0
1.0
1.0
1.0
1.0

### **Задание №2.1 (*)**. Если вы не пользовались библиотечными функциями и реализовывали алгоритм самостоятельно, напишите, пожалуйста, его асимптотическую сложность в терминах O-большое.

# **Явно это не будет О(1), так как здесь не одна операция для всех возможных входных данных.**
# **Так же это не О(n), так как алгоритм не масштабируется линейно.**

In [ ]:
# <YOUR_CODE_HERE>

### **Задание №3**. Постройте прогнозую модель для датасета с UCI Machine Learning: предобработайте категориальные фичи, отберите их, соберите схему валидации и отберите модели с помощью нее. Описание датасета по ссылке: https://archive.ics.uci.edu/ml/datasets/Drug+consumption+%28quantified%29

Данная задача multilabel multiclass classification, поэтому предлагаю начать с одного из подходов:
- Свести задачу к multilabel binary classification, как это указано в описании к датасету;
- Свести задачку к binary classification тем или иным способом;
- Обучить множество multiclass/binary classification моделей;
- Что-то еще, что придет в голову.

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00373/drug_consumption.data

--2021-08-02 22:29:57--  https://archive.ics.uci.edu/ml/machine-learning-databases/00373/drug_consumption.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 346695 (339K) [application/x-httpd-php]
Saving to: ‘drug_consumption.data.6’

drug_consumption.da 100%[===================>] 338.57K  1.60MB/s    in 0.2s

2021-08-02 22:29:58 (1.60 MB/s) - ‘drug_consumption.data.6’ saved [346695/346695]

In [2]:
import numpy as np
import pandas as pd

data = pd.read_csv('drug_consumption.data', header=None, index_col=0)
display(data)
#data = data.drop(0, axis = 1)
data = data.reset_index()

           1        2        3        4        5   ...   27   28   29   30   31
0                                                  ...
1     0.49788  0.48246 -0.05921  0.96082  0.12600  ...  CL0  CL0  CL2  CL0  CL0
2    -0.07854 -0.48246  1.98437  0.96082 -0.31685  ...  CL3  CL0  CL4  CL0  CL0
3     0.49788 -0.48246 -0.05921  0.96082 -0.31685  ...  CL0  CL1  CL0  CL0  CL0
4    -0.95197  0.48246  1.16365  0.96082 -0.31685  ...  CL0  CL0  CL2  CL0  CL0
5     0.49788  0.48246  1.98437  0.96082 -0.31685  ...  CL0  CL2  CL2  CL0  CL0
...       ...      ...      ...      ...      ...  ...  ...  ...  ...  ...  ...
1884 -0.95197  0.48246 -0.61113 -0.57009 -0.31685  ...  CL0  CL0  CL0  CL0  CL5
1885 -0.95197 -0.48246 -0.61113 -0.57009 -0.31685  ...  CL4  CL4  CL5  CL0  CL0
1886 -0.07854  0.48246  0.45468 -0.57009 -0.31685  ...  CL0  CL2  CL6  CL0  CL0
1887 -0.95197  0.48246 -0.61113 -0.57009 -0.31685  ...  CL0  CL3  CL4  CL0  CL0
1888 -0.95197 -0.48246 -0.61113  0.21128 -0.31685  ...  CL0  CL3  CL6  CL0  CL2

[1885 rows x 31 columns]

In [3]:
data_upd_0 = data.iloc[:, 0: 13]
#display(data_upd_0)
data_upd_1 = data.iloc[:, 13: 32]
#display(data_upd_1)
data_upd_1.columns = range(data_upd_1.shape[1])
#display(data_upd_1)
data_upd_0 = data_upd_0.drop(data_upd_0.columns[[0]], axis=1)
#display(data_upd_0)

data_upd_0.columns = range(data_upd_0.shape[1])
#display(data_upd_0)

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import GradientBoostingClassifier
!warnings.filterwarnings('ignore')
import numpy as np
from sklearn.model_selection import cross_val_score

logreg = LogisticRegression(random_state=12345)
RF = RandomForestClassifier(n_estimators=1000, max_depth = 50,random_state=12345)
SGD = SGDClassifier(max_iter=1000, random_state=12345)
GBC = GradientBoostingClassifier(n_estimators=100, max_depth=50, random_state=12345)


for i in range(len(data_upd_1)):
  res_0 = cross_val_score(logreg, data_upd_0, data_upd_1[i], cv=4)
  res_1 = cross_val_score(RF, data_upd_0, data_upd_1[i], cv=4)
  res_2 = cross_val_score(GBC, data_upd_0, data_upd_1[i], cv=4)
  res_3 = cross_val_score(SGD, data_upd_0, data_upd_1[i], cv=4)
  print('Для вывода {0}'.format(i))
  print('LogReg',np.mean(res_0))
  print('RF',np.mean(res_1))
  print('GradientBoost',np.mean(res_2))
  print('SGD',np.mean(res_3))

/bin/bash: -c: line 0: syntax error near unexpected token `'ignore''
/bin/bash: -c: line 0: `warnings.filterwarnings('ignore')'
Для вывода 0
LogReg 0.39203911619705634
RF 0.3729443304904818
GradientBoost 0.30452359746662344
SGD 0.3119197344272913
Для вывода 1
LogReg 0.4907224981107633
RF 0.49653639929468496
GradientBoost 0.4402821260210875
SGD 0.4790395930044262

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)

Для вывода 2
LogReg 0.6716416567706647
RF 0.6976119147864263
GradientBoost 0.6164568264421174
SGD 0.6525502447011406
Для вывода 3
LogReg 0.5034422343373277
RF 0.5082103080355537
GradientBoost 0.4302208157904207
SGD 0.4567679657418403
Для вывода 4
LogReg 0.7347477868940947
RF 0.7331576792975637
GradientBoost 0.6344810446579581
SGD 0.7087404188707762
Для вывода 5
LogReg 0.40055979884126813
RF 0.38889938464860196
GradientBoost 0.30611033142610383
SGD 0.3602437115405376

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)

Для вывода 6
LogReg 0.4201662528338551
RF 0.4127453758681493
GradientBoost 0.35968256324444925
SGD 0.37982879916513723
Для вывода 7
LogReg 0.5331651012990751
RF 0.5533135863111303
GradientBoost 0.4747876857749469
SGD 0.5135091672964123

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)

Для вывода 8
LogReg 0.8599479560257657
RF 0.8636612058728275
GradientBoost 0.812191874482709
SGD 0.8604764924970312
Для вывода 9
LogReg 0.5437583216380582
RF 0.5426967505127929
GradientBoost 0.459926814566915
SGD 0.5103233293749325
Для вывода 10
LogReg 0.848276296376264
RF 0.8514587606606931
GradientBoost 0.7978629133829933
SGD 0.8498675285184785
Для вывода 11
LogReg 0.7877971049695923
RF 0.7899191226744395
GradientBoost 0.7134983716578501
SGD 0.7771813937169383
Для вывода 12
LogReg 0.6127368293209543
RF 0.6100795278707403
GradientBoost 0.5405657364424773
SGD 0.5920339432869121
Для вывода 13
LogReg 0.5718978282773759
RF 0.5840755334844723
GradientBoost 0.5304774371154054
SGD 0.5607367123682032
Для вывода 14
LogReg 0.7538436971463529
RF 0.7538436971463529
GradientBoost 0.6784845172550289
SGD 0.7357992371082083
Для вывода 15
LogReg 0.5251965705854835
RF 0.5267675609053942
GradientBoost 0.4832746320486523
SGD 0.4954725790780524
Для вывода 16
LogReg 0.38252545971427543
RF 0.39312992551009396
GradientBoost 0.28489577710604913
SGD 0.2997701428622836

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)

Для вывода 17
LogReg 0.9957559645903055
RF 0.9957559645903055
GradientBoost 0.9867371082082839
SGD 0.9941636079024074
Для вывода 18
LogReg 0.7644537856705891
RF 0.7644526611249056
GradientBoost 0.685382480477887
SGD 0.7633933390910073

KeyError: ignored

In [5]:
data_upd_0.corr()

          0         1         2   ...        9         10        11
0   1.000000  0.110286  0.158811  ...  0.183564 -0.190939 -0.332188
1   0.110286  1.000000  0.196774  ...  0.183831 -0.167492 -0.244277
2   0.158811  0.196774  1.000000  ...  0.240417 -0.132482 -0.131146
3   0.354241  0.216271  0.225311  ...  0.214000 -0.231572 -0.345415
4  -0.069753 -0.001213 -0.036099  ... -0.029923  0.082411  0.100304
5  -0.136654  0.074646 -0.100993  ... -0.391088  0.174399  0.079988
6  -0.033849  0.057864  0.115645  ...  0.308024  0.114151  0.210130
7  -0.226778 -0.131021  0.057994  ... -0.056811  0.277512  0.421709
8   0.063504  0.219743  0.091088  ...  0.247482 -0.229690 -0.208061
9   0.183564  0.183831  0.240417  ...  1.000000 -0.335133 -0.229038
10 -0.190939 -0.167492 -0.132482  ... -0.335133  1.000000  0.623120
11 -0.332188 -0.244277 -0.131146  ... -0.229038  0.623120  1.000000

[12 rows x 12 columns]

# **Нет сильно зависящих факторов, которые в дальнейшем могут сместить предсказание модели, поэтому оставим все фичи на месте.**

In [6]:
data_ordinal

       0    1    2    3    4    5    6   ...   12   13   14   15   16   17   18
0     5.0  2.0  0.0  2.0  6.0  0.0  5.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
1     5.0  2.0  2.0  0.0  6.0  4.0  6.0  ...  0.0  2.0  3.0  0.0  4.0  0.0  0.0
2     6.0  0.0  0.0  0.0  6.0  3.0  4.0  ...  0.0  0.0  0.0  1.0  0.0  0.0  0.0
3     4.0  0.0  0.0  3.0  5.0  2.0  4.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4     4.0  1.0  1.0  0.0  6.0  3.0  6.0  ...  1.0  0.0  0.0  2.0  2.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
1880  5.0  0.0  0.0  0.0  4.0  5.0  4.0  ...  3.0  3.0  0.0  0.0  0.0  0.0  5.0
1881  5.0  0.0  0.0  0.0  5.0  3.0  4.0  ...  3.0  5.0  4.0  4.0  5.0  0.0  0.0
1882  4.0  6.0  5.0  5.0  6.0  6.0  6.0  ...  0.0  2.0  0.0  2.0  6.0  0.0  0.0
1883  5.0  0.0  0.0  0.0  6.0  6.0  5.0  ...  3.0  3.0  0.0  3.0  4.0  0.0  0.0
1884  4.0  3.0  0.0  3.0  6.0  3.0  6.0  ...  3.0  3.0  0.0  3.0  6.0  0.0  2.0

[1885 rows x 19 columns]

# **Можем видеть, что лучше всего себя показал алгоритм RandomForest. Возможно "поигравшись" с гиперпараметрами можно немного улучшить показатели метрики, но лог регрессия, как мне кажется, является самой надёжной и успешно интрпретируемой для бизнеса моделью, тем более "отставание " не такое большое.**

### **Задание №4**. Предположим, что мы построили рекомендательную систему, и ожидаем, что средний чек клиента вследствие этого должен вырасти. Мы провели AB-тест и собрали данные по контрольной и тестовой группе. Предложите и проведите статистический тест, который можно применить к этим данным.

В процессе выполнения задания разрешено пользоваться библиотеками scipy и statsmodels.

In [40]:
import numpy as np

# Сгенерируем данные для задачи
control = np.random.lognormal(mean=5, sigma=2, size=(100000,))
test = np.random.lognormal(mean=5.04, sigma=2, size=(100000,))

In [41]:
display(control)# <YOUR_CODE_HERE>

array([1542.40562354,  116.2625206 ,  651.88215585, ...,  666.4411691 ,
       3640.3693385 ,    9.7769247 ])

In [42]:
display(test)

array([ 113.08742053,  169.64169863,   27.10143065, ..., 1208.97898512,
        116.98983909,  437.11706393])

In [44]:
from scipy import stats as st

print("Cреднее до:", control.mean())
print("Cреднее после:", test.mean())


# критический уровень статистической значимости
# если p-value окажется меньше него - отвергнем гипотезу
alpha = 0.05

# тест односторонний: p-value будет в два раза меньше
##statistic, results = st.ttest_ind(sample_before, sample_after)
##print(results)

statistic, pvalue = st.ttest_ind(control, test) # < напишите код здесь >

print('p-значение: ', pvalue)

if pvalue < alpha:
    print("Отвергаем нулевую гипотезу: скорее всего средний чек увеличился")
else:
    print("Не получилось отвергнуть нулевую гипотезу: скорее всего средний чек не увеличился")

Cреднее до: 1117.1588472377312
Cреднее после: 1162.599503369382
p-значение:  0.18342023044040823
Не получилось отвергнуть нулевую гипотезу: скорее всего средний чек не увеличился

### **Задание №4 (*)**. В прошлом задании мы улавливали статистически значимое различие в средних в 0.04 единицы на выборке из 100000 клиентов. Насколько больше нам требуется собрать клиентов, чтобы уловить различие в 0.02?

In [47]:

i = 100000
for i in range(i, 200000, 1000):
  control_1 = np.random.lognormal(mean=5, sigma=2, size=(i,))
  test_1 = np.random.lognormal(mean=5.02, sigma=2, size=(i,))
  #print("Cреднее до:", control_1.mean())
  #print("Cреднее после:", test_1.mean())
  statistic_1, pvalue_1 = st.ttest_ind(control_1, test_1)
  #print('p-значение: ', pvalue_1)
  alpha_1 = 0.05
  if pvalue_1 < alpha:
    print("Отвергаем нулевую гипотезу: скорее всего средний чек увеличился")
    print(i)

Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
105000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
125000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
126000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
129000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
133000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
141000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
142000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
148000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
181000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
189000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
191000
Отвергаем нулевую гипотезу: скорее всего средний чек увеличился
195000

# **Минимум нужно собрать на 5 тысяч клиентов больше. Но этому значению доверять нельзя, так как выборка сгенерирована случайно.**